.git
.gitignore
.github
.claude
.memory
.vscode
.tools
.idea
*.md
!Directory.Build.props
!Directory.Packages.props
node_modules
npm-debug.log
docker-compose*
**/bin/
**/obj/
**/DEPLOYMENT/
**/TestResults/
**/*.user
**/*.suo
tests/
docs/
scripts/
