<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Cache" value="http://artifactory.anubisworks.net:82/artifactory/api/nuget/v3/nuget" allowInsecureConnections="true" />
    <add key="Anubisworks" value="http://artifactory.anubisworks.net:82/artifactory/api/nuget/v3/AnubisWorks" allowInsecureConnections="true" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="Cache">
      <package pattern="AnubisWorks.*" />
    </packageSource>
    <packageSource key="Anubisworks">
      <package pattern="AnubisWorks.*" />
    </packageSource>
  </packageSourceMapping>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="1" />
    <add key="disabled" value="False" />
  </packageManagement>
  <config>
    <add key="signatureValidationMode" value="accept" />
  	<add key="defaultPushSource" value="http://artifactory.anubisworks.net:82/artifactory/api/nuget/v3/AnubisWorks" allowInsecureConnections="true" />
    <add key="allowInsecureConnections" value="true" />
    </config>
    <apikeys>
      <add key="http://artifactory.anubisworks.net:82/artifactory/api/nuget/v3/AnubisWorks" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA5xqezUwlbUm3KrRdGwEwZwAAAAACAAAAAAADZgAAwAAAABAAAADllUQ09lmfXxcFoaVJLmg+AAAAAASAAACgAAAAEAAAALnqzc9444d17l41JNaaPHJYAAAAdhmBP0D3BIooiBsP36bMUd/rYw6sBDXkWEOwbAPzKu95ogcrf32L0ht5tHpWYd1KHdmDcuO5CzpOhlnvQmPoYZMNJRjlPiV0i+rDFkaKB8rNWUmY5tmHQBQAAACu31MoCpjt4HIsNhqnGNbyVYODdg==" />
    </apikeys>
</configuration>
